In [105]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [115]:
d.Rated

AttributeError: 'DataFrame' object has no attribute 'Rated'

In [123]:
rated_dummies = pd.get_dummies(d[f])
pd.concat([d[f], rated_dummies], axis=1)

    Resistance mechanism  ESBL  HLAR  MLSB  MRS  MSS  None  Unknown  VRE
0                   None     0     0     0    0    0     1        0    0
1                   None     0     0     0    0    0     1        0    0
2                   None     0     0     0    0    0     1        0    0
3                   None     0     0     0    0    0     1        0    0
4                   None     0     0     0    0    0     1        0    0
..                   ...   ...   ...   ...  ...  ...   ...      ...  ...
296                 None     0     0     0    0    0     1        0    0
297                 None     0     0     0    0    0     1        0    0
298                 None     0     0     0    0    0     1        0    0
299                 None     0     0     0    0    0     1        0    0
300                 None     0     0     0    0    0     1        0    0

[301 rows x 9 columns]

In [133]:
d = pd.read_csv("data/med_orginal.csv",header=0, sep="\;").drop("Nazwy przyp.", axis = 1).fillna(method = "backfill")
dfa = pd.read_csv("data/all_features5.csv",header=0, sep="\,")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [141]:
d = d.fillna(method = "ffill")

In [140]:
sum(d.isna().sum())

357

In [75]:
#{x:y for x, y in df.isna().sum().items() if y>0}

In [183]:
[c for c, dt in zip(dd.columns, dd.dtypes) if dt == np.object]

[]

In [168]:

f = 'AGR in the past'
#np.unique(d[f])
#{x : y for x, y in zip(np.unique(df[f]), np.arange(len(df[f])))}
#d = d.drop(f, axis = 1)
d[f][32] = '0'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [169]:
np.unique(d[f])

array(['0', '1'], dtype=object)

In [170]:
d[f] = d[f].map({'0' : 0, '1' : 1})

In [174]:
d.to_csv("data/med_orginal2.csv", index = False)

In [176]:
dd = pd.read_csv("data/med_orginal2.csv")

In [178]:
for c, ty in zip(dfa.columns, dfa.dtypes):
    try:
        dd[c] = dd[c].astype(ty)
    except:
        print(c)

CKD Cause
Resistance mechanism
Pulmonary Congestion
Peripheral Oedema
Diuresis (Anuria / Oliguria/ Normal)

In [181]:
dd.to_csv("data/med_orginal2.csv", index = False)

In [182]:
sum(dd.isna().sum())

260

In [39]:
df["AGR in the past"][32] = 0
df["AGR in the past"] = df["AGR in the past"].astype(bool)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
#df = pd.DataFrame({'country': ['russia', 'germany', 'australia','korea','germany']})
pd.get_dummies(np.unique(d[f]), prefix='country')

,country_ESBL,country_HLAR,country_MLSB,country_MRS,country_MSS,country_None,country_Unknown,country_VRE
0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,0,1,0,0,0
5,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,1,0
7,0,0,0,0,0,0,0,1

### Modified columns

In [ ]:
['CKD Cause',
 'FSGS',
 'Reccurent UTI prior admission',
 'Resistance mechanism',
 'Need for oxygen',
 'Respiratory failure',
 'Thrombocytopenia (PLT <150 tys/ul)',
 'Need for vasopressors',
 'Pulmonary Congestion',
 'Peripheral Oedema',
 'Urine outflow obstruction',
 'Need for DJ placement (or other instrumentations)',
 'Diuresis (Anuria / Oliguria/ Normal)',
 'TAC vs CS',
 'Response to antibiotic',
 'Prophylactic AB after discharge [YES/NO]']